body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  height: 100vh; 
  background-image: url("https://images.unsplash.com/photo-1508175800969-525c72a047dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1905&q=80");
  background-repeat: no-repeat;
  background-position:fixed; 
}

textarea {
  background-color: transparent;
  font-family: 'DynaPuff';
  font-size: 1rem;
}
#currentDay {
  font-family: 'DynaPuff';
  font-size: 50px;
  background: -webkit-linear-gradient(brown, red);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lead {
  font-family: 'DynaPuff';
  font-size: 50px;
  background: -webkit-linear-gradient(black, blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  
}

h1 {
  font-family: 'DynaPuff';
  font-size: 80px;
  background: -webkit-linear-gradient(orange, red);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
  
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
    width: 70vw;
}

.hour {
  font-family: 'DynaPuff';
  font-size: 2rem;
  background: -webkit-linear-gradient(orange, red);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(200, 216, 115, 0.484);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

